.sub_main{
    width:68%;
    margin: auto;
}

/*title*/
.title_container{
    margin-top:90px;
    margin-bottom:40px;
}

.title{
    display:flex;
    align-items: center;
}

.title img{
    width: 75px;
    height: 75px;
}

.title h3{
    font-size:44px;
    font-weight: bold;
    padding-left:10px;
}

/*video*/
.esg_container{
    position: relative;
}

.esg_container video{
    width:100%;
    border-radius: 12px;
    box-shadow: 2px 5px 40px 0 rgba(0,0,0,.09);
}

.esg_text{
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
}

.esg_text h3{
    font-size:36px;
    font-weight: bold;
    line-height: 48px;
}

.esg_text p{
    margin:16px 0px 32px 0px;
    font-size:18px;
    font-weight: bold;
}

.esg_text div{
    width: 700px;
}

.esg_text button{
    margin-left: 8px;
    padding:11px 18px 13px 18px;
    font-size:14px;
    border: none;
    border-radius: 30px;
    color: #fff;
    background-color: black;
}

.esg_text button i{
    margin-left:5px;
}

.esg_p{
    width:94%;
    margin: auto;
    margin-top:16px;
    font-size:14px;
    line-height: 22px;
}

.esg_p a{
    font-weight: bold;
    text-decoration: underline;
}

/*highlight*/
.highlight{
    margin-top:180px;
}

.highlight h3{
    margin-bottom:60px;
    text-align: center;
    font-size:43px;
    font-weight: bold;
}

.highlight_layout {
    display:flex;
    justify-content: space-between;
    height: 530px;
}

.highlight_container_one{
    position: relative;
    width:49%;
}

.highlight_container_one img{
    width: 100%;
}

.highlight_container_one p{
    position: absolute;
    top:5%;
    left:5%;
    font-size:26px;
    font-weight: bold;
    line-height: 42px;
}

.name{
    position: absolute;
    bottom:5%;
    left:5%;
    display:flex;
    flex-direction: column;
}

.name span{
    margin-bottom:15px;
    font-size:16px;
    font-weight: bold;
    color:#fff;
}

.name strong{
    font-size:26px;
    font-weight: bold;
    color:#fff;
}

.highlight_container_two{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:48%;
}

.highlight_container_two img{
    position: absolute;
    top:20px;
    right: 5%;
    height: 230px;
}

.highlight_container_two span{
    position: absolute;
    top:15%;
    left: 5%;
    font-size: 18px;
    font-weight:bold;
}

.highlight_container_two p{
    position: absolute;
    top:30%;
    left: 5%;
    font-size:26px;
    font-weight: bold;
    line-height: 38px;
}

.highlight_content_two{
    position: relative;
    height: 250px;
    border-radius: 10px;
    background-color: #1ed47e;
}
.highlight_content_three{
    position: relative;
    height: 250px;
    border-radius: 10px;
    background-color: #d3cdff;
}

/*video_img*/
.video_img{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top:40px;
}

.video_img img{
    width:100%;
    border-radius: 10px;
    filter: brightness(60%);
}

.video_img h3{
    position: absolute;
    top:2%;
    left:2%;
    font-size:16px;
    color:#fff;
}

.share {
    position: absolute;
    top:2%;
    right: 2%;
    font-size:22px;
    color:#fff;
}

.play{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:80px;
    color:#fff;
}

/*esg_report*/
.esg_report{
    margin-top:180px;
}

.esg_report h3{
    text-align: center;
    font-size:42px;
    font-weight: bold;
}

.report_img_layout{
    display:flex;
    margin-top: 70px;
}

.report_text_layout{
    display: flex;
    flex-direction: column;
    width:364px;
    height: 340px;
    padding: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #006f58;
}

.report_text_layout span{
    font-size:18px;
    font-weight: bold;
    color: #fff;
}

.report_text_layout strong{
    margin: 16px 0px;
    font-size: 42px;
    font-weight: bold;
    color: #fff;
}

.report_text_layout p{
    height: 200px;
    font-size:19px;
    line-height: 30px;
    color:#fff;
}

.report_btn button{
    padding:11px 18px;
    border: none;
    border-radius: 30px;
    color:#fff;
    background-color: black;
}

.report_btn button span{
    font-size:14px;
}

.report_img img{
    width: 100%;
    height: 420px;
}

/*report_dawnroad*/
.report_dawnroad{
    margin-top:50px;
}

.report_dawn_container{
    display:flex;
    justify-content: space-between;
    width: 93%;
    margin: auto;
    padding:25px 0px 10px 0px;
    border-bottom: 1px solid #eee;
}

.report_dawn_container strong{
    font-size:30px;
    font-weight: bold;
}

.report_dawn_btn{
    display: flex;
}

.report_dawn_btn button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 16px 20px;
    padding:11px 18px;
    border: none;
    border-radius: 10px;
}

.report_dawn_btn button span{
    font-size:14px;
    margin-right:10px;
    width:180px;
}

/*esg_outcome*/
.esg_outcome{
    margin-top:180px;
}

.esg_outcome h3{
    text-align: center;
    font-size:42px;
    font-weight: bold;
}

.esg_outcome_container{
    display:flex;
    justify-content: space-between;
    margin-top: 70px;
}

.esg_outcome_content{
    position: relative;
    display: flex;
    flex-direction: column;
    width:28%;
    height: 450px;
    padding: 40px 24px;
    box-shadow: 2px 5px 40px 0 rgba(0,0,0,.09);
    border-radius: 10px;
}

.esg_logo img{
    width:30%;
}

.esg_outcome_content strong{
    margin: 24px 0px 8px 0px;
    font-size:34px;
    font-weight: bold;
    font-weight: bold;
    line-height: 48px;
}

.esg_outcome_content p{
    font-size:16px;
    font-weight: bold;
    color:#888888;
}

.thumbimg{
    position: absolute;
    bottom:8%;
    right: 8%;
}

.thumbimg img{
    width: 100%;
    height: 220px;
}

/*esg_slide*/
.esg_slide{
    margin-top:180px;
}

.esg_slide h3{
    text-align: center;
    font-size:42px;
    font-weight: bold;
}

.esg_slide p{
    margin-top:40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 38px;
    color:#666666;
}

.esg_slide_layout{
    margin-top:60px;
}

.esg_slide_container{
    position: relative;
    display:flex;
}

.esg_content{
    display:flex;
    width:630px;
    height: 360px;
    margin:0px 18px;
    flex-shrink: 0;
    border-radius: 15px;
}

.esg_content:nth-child(1){
    background-color: #d2cdff;
}
.esg_content:nth-child(2){
    background-color: #e5c594;
}
.esg_content:nth-child(3){
    background-color: #ffd2ff;
}
.esg_content:nth-child(4){
    background-color: #c7fcc4;
}
.esg_content:nth-child(5){
    background-color: #85ccf8;
}
.esg_content:last-child{
    background-color: #ecf09c;
}

.esg_slide_title{
    display:flex;
    flex-direction: column;
    width:300px;
    padding:32px 10px 32px 24px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.esg_slide_title .slide_tt{
    font-size:18px;
    font-weight: bold;
}

.esg_slide_title strong{
    margin: 20px 0px 11px 0px;
    font-size: 46px;
    font-weight: bold;
}

.esg_slide_title p{
    height:170px;
    margin-top: 0px;
    text-align: start;
    font-size:16px;
    color:#000;

}

.hashtag{
    margin-top:10px;
    font-size:16px;
    font-weight: bold;
    color:#000;
}

.esg_content img{
    width:50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.esg_slide_btn{
    margin:40px 0px 0px 20px;
}

.esg_slide_btn button{
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 100%;
    margin-right:15px;
}

/*esg_site*/
.esg_site{
    margin-top:180px;
}

.esg_site h3{
    margin-bottom:60px;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.esg_site_container{
    display:flex;
    justify-content: space-between;
    margin-bottom:40px;
}


.esg_site_container_last{
    display:flex;
}

.esg_site_container_last li{
    margin-right:37px;
}

.esg_site ul li{
    width: 360px;
    height: 80px;
    padding:24px;
    border-radius: 10px;
    box-shadow: 2px 5px 40px 0 rgba(0,0,0,.09);
}

.esg_site_title{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.esg_site_title strong{
    font-size: 26px;
    font-weight: bold;
}

.esg_site_title button{
    width:44px;
    height: 44px;
    border: none;
    border-radius: 100%;
    font-size: 18px;
}

/*esg_news*/
.esg_news{
    position: relative;
    margin-top:180px;
}

.esg_news h3{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.kakao_list{
    position: relative;
    margin-top:100px;
}

.kakao_list ul{
    display:flex;
}

.kakao_list ul li{
    margin-right:10px;
    padding:13px 16px;
    font-size:16px;
    border-radius: 30px;
    cursor: pointer;
}

.on{
    font-weight: bold;
    color: #fff;
    background-color: black;
}

.out{
    color:#333;
    background-color: #eee;
}

/*kakao_numbers_container*/
.kakao_list_container{
    display:flex;
    justify-content: space-between;
    margin-top: 40px;
}

.kakao_list_container_last{
    display:flex;
    margin-top: 40px;
}

.kakao_list_content{
    width:31.5%;
    border-radius: 20px;
    box-shadow: 2px 5px 40px 0 rgba(0,0,0,.09);
    cursor: pointer;
}

.kakao_list_content_last{
    width:31.5%;
    border-radius: 20px;
    box-shadow: 2px 5px 40px 0 rgba(0,0,0,.09);
    cursor: pointer;
    margin-right:38px;
}

.kakao_list_content_title_container{
    display: flex;
    flex-direction: column;
    padding:25px 25px 0px 25px;
}

.kakao_list_content_title{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    display:flex;
    align-items: center;
}

.title img{
    width: 36px;
    height: 36px;
}

.title .part{
    font-size:14px;
    margin: 0px 10px;
    padding:10px;
    border-radius: 30px;
    background-color: #eee;
}

.title .day{
    font-size:14px;
    color:#666666;
}

.kakao_list_content_title .icon i{
    font-size:20px;
}

.kakao_list_content_title_container strong{
    margin-top:13px;
    font-size:30px;
    font-weight: bold;
    line-height: 42px;
    white-space : nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.company{
    margin-top:13px;
    font-size: 19px;
    font-weight: bold;
    color:#333;
}

.hashtag{
    margin-top:24px;
    font-size:14px;
    color:#666;
}

.hashtag span{
    margin-left:2px;
}

.kakao_list_img_container{
    margin-top: 24px;
    height: 229px;
}

.kakao_list_img_container img{
    width:100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.culture_top{
    position: absolute;
    bottom:-150px;
    right:0px;
    width:50px;
    height:50px;
    font-size:20px;
    text-align: center;
    border: none;
    border-radius: 100%;
    color:#fff;
    background-color: black;
    cursor: pointer;
}

.culture_top i{
    padding-left:2px;
}